#box{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    cursor: pointer;
}
body{
    background-color: antiquewhite;
}
#b1{
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-size: large;
    color: rgb(0, 94, 255);
    cursor: pointer;
}
#b2{
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-size: large;
    color: rgb(0, 94, 255);
    cursor: pointer;
}
#content{
    font-size: xx-large;
    font-weight: 700;
}

